<html>
    <head>
        


        <body background="https://thumbs.dreamstime.com/z/seamless-pattern-theme-food-breakfast-simple-contour-icons-light-outlines-blue-background-illustration-124614752.jpg">
            
                <center><br><br><br><br><br><br><br><br><br><br><br><br>
                    <form action="/login"   method="post">
                        <label><font size="70">Name:</font></label>
                     
                        <input type="text"   name="name"/><br><br>
                        <label><font size="70">password:</font></label>
                        <input type="password"    name="password"/><br><br>

                        
                        <input type="submit" />
             
                    </form></center>
                
    
               
           
        </body>
    </head>
</html>